$dark_blue: rgb(2, 48, 71);
$bright_blue: rgb(33, 158, 188);
$light_blue: rgb(142, 202, 230);
$yellow: rgb(255, 183, 3);
$orange: rgb(251, 133, 0);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: $light_blue;
    padding: 0.6rem;
    height: 3rem;
}
.nav-item{
    text-decoration: none;
    color: $dark_blue;
    transition-property: font-size;
    transition-duration: 1s;
}
.nav-item:hover{
    font-size: larger;
    color: $orange;
}
body{
    overflow-y: hidden;
    // background-image: url('../img/coffee-beans-bg.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
}
#hero{
    background-image: url('../img/coffee-banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 25rem;
    overflow: hidden;

}
.box{
// background-color: $yellow;
height: 50rem;
padding: 3rem;
.par{
    text-indent: 2rem;
}
.link{
    text-decoration: none;
    color: $orange;
}
.link:hover{
    text-decoration: underline;
    color: $orange;
}
.headline{
    text-align: center;
    margin: 3rem;
}
.button{
    margin: 1rem;
    padding: 0.5rem;
    // background-color: rgb(11, 74, 34);
    // color: white;
    border-radius: 3px;
    border: 2px solid $bright_blue;

}

    .grid{
        width: 100%;
        height: 40rem;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin: auto;
        gap: 20px;
        padding: 10px;
        .gridItem{
            // margin: auto;
            border: 2px solid red;
            border-radius: 10px;
        }
        .bg-image{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .i1{
            grid-area: 1 / 1 / 7 / 5;
            background-image: url('../img/v-iced-coffee-1.jpg');
        }
        .i2{
            grid-area: 1 / 5 / 4 / 9;
            background-image: url('../img/iced-coffee-4.jpg');
        }
        .i3{
            grid-area: 4 / 5 / 7 / 9;
            background-image: url('../img/iced-coffee-5.jpg');
        }
        .i4{
            grid-area: 7 / 1 / 9 / 9;
            background-image: url('../img/iced-coffee-6.jpg');
        }
    } 
}