// $dark_blue: rgb(2, 48, 71);
// $dark_brown: rgb(63, 42, 43);
$light_brown: rgb(129, 82, 63);
$bright_blue: rgb(33, 158, 188);
// $light_blue: rgb(142, 202, 230);
// $yellow: rgb(255, 183, 3);
$orange: rgb(251, 133, 0);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: black;
    
    padding: 0.6rem;
    height: 3rem;
}
.nav-item{
    text-decoration: none;
    color: white;
    transition-property: font-size;
    transition-duration: 1s;
}
.nav-item:hover{
    font-size: larger;
    color: $light_brown;
}

#hero{
    background-image: url('../img/coffee-banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 25rem;
    overflow: hidden;

}
.box{
// height: 80rem;
padding: 3rem;
.par-outer{
    margin: 2rem;
}
.item{
    margin: auto;
}
.par{
    text-indent: 2rem;
}
.link{
    text-decoration: none;
    color: $orange;
}
.link:hover{
    text-decoration: underline;
    color: $orange;
}
.headline{
    text-align: center;
    margin: 3rem;
}
.button{
    height: 5rem;
    min-width: 7rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 3px;
    border: 2px solid $bright_blue;
}
    .grid{
        width: 100%;
        height: 40rem;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: auto;
        gap: 20px;
        padding: 10px;
        .gridItem{
            overflow-y: hidden;
            border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
               
                .gridBtn{
                    // visibility: hidden;
                    height: 100%;
                    width: 100%;
                    border: none;
                    background-color: rgba(249, 249, 249, 0.0);
                    span{
                        visibility: hidden;
                    }
                }
                .gridBtn:hover{
                    height: fit-content;
                    width: fit-content;
                    margin: 1rem;
                    padding: 0.5rem;
                    background-color: rgba(249, 249, 249, 0.5);
                    border: 2px solid black;
                    border-radius: 3px;
                    
                }
                .gridBtn:hover > span{
                    visibility: visible;
                }
        }

        //this works, but modal doesn't open properly. it keeps blinking.

        // .gridItem:hover{
        //     transform: scale(1.05);
        //     transition: width 1s, height 1s, transform 1s;
        // }

        // .gridItem:hover > .gridBtn{
        //     visibility: visible;
        // }
        .bg-image{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .i1{
            grid-area: 1 / 1 / 7 / 5;
            background-image: url('../img/v-iced-coffee-1.jpg');
        }
        .i2{
            grid-area: 1 / 5 / 4 / 9;
            background-image: url('../img/iced-coffee-6.jpg');
        }
        .i3{
            grid-area: 4 / 5 / 7 / 9;
            background-image: url('../img/iced-coffee-5.jpg');
        }
        .i4{
            grid-area: 7 / 1 / 11 / 9;
            background-image: url('../img/freakshake.jpg');
        }
    } 
}
footer{
    background-color: black;
    color: white;
    padding: 2rem;
}
@import "media.scss";